:root {
  --grad: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  color: white;
  background-color: black;
}

main {
  padding: 2rem 1rem;
  height: calc(100vh - 4rem);
  display: grid;
  grid-template-rows: min-content auto;
  gap: 1rem;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: var(--grad) border-box, transparent content-box;
  background-clip: border-box;
  -webkit-background-clip: text;
}

.button-styles {
  height: 2rem;
  width: 2rem;
  font-size: large;
  font-weight: bold;
  justify-self: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  -webkit-text-fill-color: transparent;
}

#fps-input {
  font-size: large;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  border: none;
}

#fps-label {
  font-size: large;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}

#help {
  margin-left: auto;
}

#canvas {
  background: var(--grad);
}