html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: black;
}

main {
  padding: 2rem 1rem;
  height: calc(100vh - 4rem);
  display: grid;
  grid-template-rows: min-content auto;
  gap: 1rem;
}

#button {
  justify-self: center;
  height: 3rem;
  width: 3rem;
  border: none;
  cursor: pointer;
  border-radius: 100rem;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem
}

#canvas {
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
}